DISCORD_BOT_TOKEN=Pcq3VZX1MbzBMYBOFCVEkF4Va7.HDdt6Y.sqv15zO3UY-RlPh-nMro0feDA_cJ0rk
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
SSL_ENABLED=false # Set to true if you are using SSL for Lavalink

NO_SONG_PLAYING_IMAGE_URL=https://i.imgur.com/6gzRO7b.png
NOW_PLAYING_SPIN_GIF_URL=https://media.tenor.com/bm3mg6SkLawAAAAM/record-spin.gif

BOT_VOLUME=50