services:
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4-alpine
    user: "1000:1000"
    container_name: lavalink
    restart: unless-stopped
    environment:
      # set Java options here (6GB heap size)
      - _JAVA_OPTIONS=-Xmx6G
      # set lavalink server port
      - SERVER_PORT=2333
      # set password for lavalink
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
      - ./lavalink/plugins/:/opt/Lavalink/plugins/
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-qO-",
          "--header=Authorization:youshallnotpass",
          "http://localhost:2333/v4/info",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  ejs-api:
    # Uncomment to build locally (not supported right now)
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: ghcr.io/kikkia/yt-cipher:master
    container_name: ejs_signature_api
    ports:
      - "8001:8001"
    environment:
      - API_TOKEN=your_secret_password
    restart: unless-stopped

  molten-musicbot:
    build: .
    image: molten-musicbot:latest
    container_name: molten-musicbot
    environment:
      LAVALINK_HOST: lavalink
      LAVALINK_PORT: 2333
      LAVALINK_PASSWORD: youshallnotpass
      SSL_ENABLED: "false"
      LOG_LEVEL: "INFO" # INFO or DEBUG
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    depends_on:
      lavalink:
        condition: service_healthy
